.outerlayout {
    width: 65vw;
    background: rgb(2,0,36);
    background: linear-gradient(-150deg, rgba(2,0,36,1) 41%, rgba(12,12,54,1) 91%, rgba(63,17,87,1) 100%);
}

.layout {
    display: flex;
    justify-content: flex-end;
}

.ant-progress-line {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5%
}

.bar {
    display: flex;
    justify-content: center;
}

.map {
    display: flex;
    justify-content: center;
}