// @import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');

.sidebar {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height:100vh;
    align-items: center;

    h1 { 
        margin-top: 10vh;
        font-size: 5rem;
        letter-spacing: 0.75rem;
        // font-family: 'Creepster', cursive;

    }

    .button {
        width: 80%;
        height: 5%;
        letter-spacing: 0.2rem;
    }
}
