// @import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
// @import (css) "background.css";

.sidebar {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height:100vh;
    align-items: center;

    background: rgb(2,0,36);
    background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 65%, rgba(125,7,187,1) 100%);

    h1 { 
        margin-top: 10vh;
        font-size: 5rem;
        letter-spacing: 0.75rem;
        color: white;
        // font-family: 'Creepster', cursive;
        mix-blend-mode: difference;

    }

    .button {
        width: 80%;
        height: 5%;
        letter-spacing: 0.2rem;

        i {
            position: relative;
            display: none;
            transition: .5s;
        }
    }

    .button:hover > i {
        display: block;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }
}

